<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.md_project_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/symbol"
        android:label="SubBills"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MD_Project_App"
        tools:node="merge"
        tools:targetApi="31">
        <activity
            android:name=".Nav_help_page"
            android:exported="false" />
        <activity
            android:name=".terms_page"
            android:exported="false" />
        <activity
            android:name=".invite_friends_page"
            android:exported="false" />
        <activity
            android:name=".Warranty_page"
            android:exported="false" />
        <activity
            android:name=".Records_page"
            android:exported="false" />
        <activity
            android:name=".Myaccount_page"
            android:exported="false" />
        <activity
            android:name=".homepage"
            android:exported="false"
            android:label="Home"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".help"
            android:exported="false" />
        <activity
            android:name=".F_Pwd"
            android:exported="false" />
        <activity
            android:name=".option_page2"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>